[Unit]
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name regional-rollup-service --network host \
  --env-file /opt/zero-trust/services/regional-rollup-service/service.env \
  -v /opt/zero-trust/certs:/certs:ro \
  zt/regional-rollup-service:local
ExecStop=/usr/bin/docker stop regional-rollup-service
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
