flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy drop;
    iif "lo" accept
    ct state established,related accept
    tcp dport 22 ip saddr {{ admin_cidr }} accept
  }

  chain forward {
    type filter hook forward priority 0; policy drop;
  }

  chain output {
    type filter hook output priority 0; policy drop;
    oif "lo" accept
    ct state established,related accept
    tcp dport { 80, 443 } accept
    tcp dport 443 ip daddr {{ hostvars['vm-auth'].private_ip }} accept
    tcp dport 9092 ip daddr {{ hostvars['vm-brokers'].private_ip }} accept
  }
}

