process.roles=broker,controller
node.id=1
controller.quorum.voters=1@{{ private_ip }}:9093

listeners=SASL_SSL://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
advertised.listeners=SASL_SSL://{{ private_ip }}:9092
listener.security.protocol.map=CONTROLLER:PLAINTEXT,SASL_SSL:SASL_SSL
controller.listener.names=CONTROLLER
inter.broker.listener.name=SASL_SSL

log.dirs=/var/lib/kafka/data
num.partitions=3
offsets.topic.replication.factor=1
transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1
auto.create.topics.enable=true

ssl.keystore.location=/etc/kafka/secrets/kafka.keystore.p12
ssl.keystore.password={{ kafka_keystore_password }}
ssl.keystore.type=PKCS12
ssl.truststore.location=/etc/kafka/secrets/kafka.truststore.jks
ssl.truststore.password={{ kafka_truststore_password }}
ssl.truststore.type=JKS

sasl.enabled.mechanisms=OAUTHBEARER
sasl.mechanism.inter.broker.protocol=OAUTHBEARER

listener.name.sasl_ssl.oauthbearer.sasl.server.callback.handler.class=org.apache.kafka.common.security.oauthbearer.OAuthBearerValidatorCallbackHandler
listener.name.sasl_ssl.oauthbearer.sasl.login.callback.handler.class=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginCallbackHandler
listener.name.sasl_ssl.oauthbearer.sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;

sasl.oauthbearer.jwks.endpoint.url=https://{{ vm_auth_ip }}/.well-known/jwks.json
sasl.oauthbearer.expected.issuer=https://{{ vm_auth_ip }}
sasl.oauthbearer.expected.audience=kafka

authorizer.class.name=org.apache.kafka.metadata.authorizer.StandardAuthorizer
allow.everyone.if.no.acl.found=true

